Тема “Обучение с учителем”

Задание 1
Импортируйте библиотеки pandas и numpy.
Загрузите "Boston House Prices dataset" из встроенных наборов данных библиотеки sklearn. Создайте датафреймы X и y из этих 
данных.
Разбейте эти датафреймы на тренировочные (X_train, y_train) и тестовые (X_test, y_test) с помощью функции train_test_split так, чтобы размер тестовой выборки
составлял 30% от всех данных, при этом аргумент random_state должен быть равен 42.
Создайте модель линейной регрессии под названием lr с помощью класса LinearRegression из модуля sklearn.linear_model.
Обучите модель на тренировочных данных (используйте все признаки) и сделайте предсказание на тестовых.
Вычислите R2 полученных предказаний с помощью r2_score из модуля sklearn.metrics.

In [49]:
# 1. Основные библиотеки
import numpy as np
import pandas as pd
import pickle   # сохранение модели

import matplotlib
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

# 2. Разделение датасета
from sklearn.model_selection import train_test_split, KFold, GridSearchCV

# 3. Модели
from sklearn.linear_model import LinearRegression
from sklearn.tree import DecisionTreeRegressor, plot_tree
from sklearn.ensemble import RandomForestRegressor, GradientBoostingRegressor
from sklearn.preprocessing import StandardScaler

# 4. Метрики качества
from sklearn.metrics import mean_squared_error as mse, r2_score as r2

# 5. Для визуализации внешних картинок в ноутбуке
from IPython.display import Image

In [90]:
X, y = load_boston(return_X_y=True)
print(X.shape)
df_X = pd.DataFrame(X)
df_y = pd.DataFrame(y)

df_X.head(5)
#df_X.describe()
#df_X.info()

(506, 13)

,0,1,2,3,4,5,6,7,8,9,10,11,12
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33

In [91]:
#scaler = StandardScaler()
#stand_features = scaler.fit_transform(df_X)

#df_X = pd.DataFrame(stand_features)
df_X.head(5)

,0,1,2,3,4,5,6,7,8,9,10,11,12
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33

In [97]:
X_train, X_test, y_train, y_test = train_test_split(df_X, df_y, test_size=0.30, shuffle=True, random_state=42)
X_train.head(5)

,0,1,2,3,4,5,6,7,8,9,10,11,12
5,0.02985,0.0,2.18,0.0,0.458,6.430,58.7,6.0622,3.0,222.0,18.7,394.12,5.21
116,0.13158,0.0,10.01,0.0,0.547,6.176,72.5,2.7301,6.0,432.0,17.8,393.30,12.04
45,0.17142,0.0,6.91,0.0,0.448,5.682,33.8,5.1004,3.0,233.0,17.9,396.90,10.21
16,1.05393,0.0,8.14,0.0,0.538,5.935,29.3,4.4986,4.0,307.0,21.0,386.85,6.58
468,15.57570,0.0,18.10,0.0,0.580,5.926,71.0,2.9084,24.0,666.0,20.2,368.74,18.13

In [98]:
lr_model = LinearRegression()
lr_model.fit(X_train, y_train)

y_train_preds = lr_model.predict(X_train)

#y_train_preds = np.clip(y_train_preds, a_min=10000, a_max=500000)

print(
f'r2: {str(round(r2(y_train, y_train_preds),3))} rmse: {np.sqrt(mse(y_train, y_train_preds))} mse: {mse(y_train, y_train_preds)}'
)

r2: 0.743 rmse: 4.748208239685937 mse: 22.545481487421426

In [102]:
y_test_preds = lr_model.predict(X_test)

# Постпроцессинг
#y_test_preds = np.clip(y_test_preds, a_min=10000, a_max=500000)

print(
f'r2: {r2(y_test, y_test_preds)} rmse: {np.sqrt(mse(y_test, y_test_preds))} mse: {mse(y_test, y_test_preds)}'
)

r2: 0.711226005748496 rmse: 4.638689926172797 mse: 21.517444231176995

Задание 2
Создайте модель под названием model с помощью RandomForestRegressor из модуля sklearn.ensemble.
Сделайте агрумент n_estimators равным 1000,
max_depth должен быть равен 12 и random_state сделайте равным 42.
Обучите модель на тренировочных данных аналогично тому, как вы обучали модель LinearRegression,
но при этом в метод fit вместо датафрейма y_train поставьте y_train.values[:, 0],
чтобы получить из датафрейма одномерный массив Numpy,
так как для класса RandomForestRegressor в данном методе для аргумента y предпочтительно применение массивов вместо датафрейма.
Сделайте предсказание на тестовых данных и посчитайте R2. Сравните с результатом из предыдущего задания.
Напишите в комментариях к коду, какая модель в данном случае работает лучше.

In [105]:
model = RandomForestRegressor(criterion='mse',
                                 max_depth=12, # глубина дерева  
                                 min_samples_leaf=30, # минимальное кол-во наблюдений в листе дерева
                                 random_state=42,
                                 n_estimators=1000  # кол-во деревьев
                                 )

model.fit(X_train, y_train.values[:, 0])

y_train_preds = model.predict(X_train)

print(
f'r2: {r2(y_test, y_test_preds)} rmse: {np.sqrt(mse(y_test, y_test_preds))} mse: {mse(y_test, y_test_preds)}'
)

r2: 0.711226005748496 rmse: 4.638689926172797 mse: 21.517444231176995

In [107]:
y_test_preds = model.predict(X_test)

print(
f'r2: {r2(y_test, y_test_preds)} rmse: {np.sqrt(mse(y_test, y_test_preds))} mse: {mse(y_test, y_test_preds)}'
)

r2: 0.7207632345916866 rmse: 4.561446676979982 mse: 20.806795786931723

У модели с деревьями данные более точные, также, учитывая разброс для показателя R2 для линейной регрессии, на тестовых и тренировочных данных, вероятно в этой модели на тренировочных данных происходит переобучение.